# Virtual environment
myenv/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
/media/
/static_collected/
/staticfiles/

# Secrets
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs.txt
*.log
